@media (min-width: 320px) and (max-width: 767px){
  #dattiimg{
    margin-top: 30px;
  }
  .movedown{
    margin-top: 65px;
  }

  .moveup{
    margin-top: -15px;
  }
}



@media (min-width: 768px){
  .movedown{
    margin-top: 100px;
  }
  .moveup{
    margin-top: -25px;
  }
  #dattiimg{
    margin-top: 55px;

  }

}
@media (min-width: 496px) and (max-width: 767px){
  .movedown{
    margin-top: 98px;
  }
  #dattiimg{
    margin-top: 60px;
  }
}


@media (min-width: 992px) and (max-width: 2056px) {
  .movedown{
    margin-top: 0px;
  }

  #dattiimg{
    margin-top: 0px;

  }
}

.eye-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-group input {
  padding-right: 40px; /* space for the eye icon */
}

#dattiimg {
  width: 120px;          /* adjust size */
  height: 120px;         /* make it square */
  border-radius: 50%;    /* makes it circular */
  object-fit: cover;     /* crops to fit nicely */
  box-shadow: none;      /* remove unwanted shadow */
  background: transparent !important;
}


