.app-footer {
  text-align: center;
  padding: 2px;
  background: #f8f9fa;
  color: #555;
  font-size: 12px;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  left: 0!important;
  right: 0;
}
