<section class="content d-flex justify-content-center align-items-center min-vh-100">
  <div class="content-block w-100" style="max-width: 900px;">
    <!-- 🔙 Back Button (outside the card, top-left) -->
    <!--    <div class="mb-3">-->
    <!--      <button mat-stroked-button color="primary">-->
    <!--        <mat-icon>arrow_back</mat-icon> Back-->
    <!--      </button>-->
    <!--    </div>-->
    <div class="row clearfix justify-content-center mb-1">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card shadow">
          <div class="header form-header">
            <div class="header">
              <h2>{{ data?.id ? 'Edit Outlet Product Details' : 'Add Outlet Product Details' }}</h2>
            </div>
          </div>
          <div class="body">
<!--            {{grnForm.value |json}}-->
            <form class="register-form m-4" [formGroup]="grnForm!" (ngSubmit)="submitForm()">
              <div class="row">
                <!-- Dealer -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Select Outlet/Dealer</mat-label>
                    <mat-select
                      formControlName="dealerOutlet"
                      required
                      #dealerSelect
                      panelClass="custom-select-panel"
                      (openedChange)="onDealerSelectOpened($event)">

                      <!-- Search -->
                      <div class="mat-select-search">
                        <input
                          matInput
                          (input)="onDealerSearchChange($event)"
                          #dealerSearchInput
                          placeholder="Search Outlet/Dealer" />
                      </div>

                      <mat-option *ngFor="let dealer of filteredDealers" [value]="dealer.name">
                        {{ dealer.name }}
                      </mat-option>
                    </mat-select>
                    @if (grnForm?.get('dealerOutlet')?.hasError('required')) {
                      <mat-error>Outlet/Dealer is required</mat-error>
                    }
                  </mat-form-field>
                </div>

                <!-- Products -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Select Products</mat-label>
                    <mat-select
                      required
                      formControlName="products"
                      #productSelect
                      panelClass="custom-select-panel"
                      (openedChange)="onProductSelectOpened($event)"
                      multiple
                      #outletSelect="matSelect">

                      <!-- Trigger display -->
                      <mat-select-trigger>
        <span *ngIf="outletSelect.value?.length; else noSelection">
          {{ outletSelect.value[0]?.name | slice:0:16 }}
          {{ outletSelect.value[0]?.name?.length > 16 ? '...' : '' }}
          <span *ngIf="outletSelect.value.length > 1" class="textcol">
            (+{{ outletSelect.value.length - 1 }} more)
          </span>
        </span>
                        <ng-template #noSelection>Select...</ng-template>
                      </mat-select-trigger>

                      <!-- Search bar -->
                      <div class="mat-select-search">
                        <input
                          matInput
                          (input)="onProductSearchChange($event)"
                          #productSearchInput
                          placeholder="Search Products" />
                      </div>

                      <!-- Select All -->
                      <div class="px-2 py-1">
                        <mat-checkbox
                          [checked]="isAllProductsSelected()"
                          (click)="$event.stopPropagation()"
                          (change)="toggleSelectAllProducts()">
                          Select All
                        </mat-checkbox>
                      </div>

                      <!-- Product list -->
                      <mat-option
                        *ngFor="let product of filteredProducts"
                        [value]="product"
                        [disabled]="product?.disabled">
                        {{ product?.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


              </div>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Remarks</mat-label>
                    <textarea
                      matInput
                      placeholder="Enter your remarks"
                      rows="4"
                      formControlName="remark">
      </textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <button
                    class="btn-space"
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="addProduct()"
                    [disabled]="isEditMode || !grnForm.get('products')?.value">
                    Add
                  </button>
                  <button class="btn-back" type="button" mat-raised-button color="warn" (click)="goBack()">Back</button>
                </div>
              </div>

              <hr>

              <!-- Table for added products -->
              <div *ngIf="addedProducts.length > 0" class="mt-4">
                <h5 class="mb-3">Added Products</h5>
                <table mat-table [dataSource]="addedProducts" class="mat-elevation-z8 w-100">

<!--                  &lt;!&ndash; SKU Column &ndash;&gt;-->
<!--                  <ng-container matColumnDef="sku">-->
<!--                    <th mat-header-cell *matHeaderCellDef> SKU </th>-->
<!--                    <td mat-cell *matCellDef="let product">{{ product.sku }}</td>-->
<!--                  </ng-container>-->

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let product">{{ product.name }}</td>
                  </ng-container>

                  <!-- Brand Column -->
                  <ng-container matColumnDef="brand">
                    <th mat-header-cell *matHeaderCellDef> Brand </th>
                    <td mat-cell *matCellDef="let product">{{ product.brand }}</td>
                  </ng-container>

                  <!-- Model Column -->
                  <ng-container matColumnDef="model">
                    <th mat-header-cell *matHeaderCellDef> Model </th>
                    <td mat-cell *matCellDef="let product">{{ product.model }}</td>
                  </ng-container>

                  <!-- Variant Column -->
                  <ng-container matColumnDef="variant">
                    <th mat-header-cell *matHeaderCellDef> Variant </th>
                    <td mat-cell *matCellDef="let product">{{ product.varient }}</td>
                  </ng-container>

                  <!-- Unit Column -->
                  <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef> Unit </th>
                    <td mat-cell *matCellDef="let product">{{ product.unit }}</td>
                  </ng-container>

                  <ng-container matColumnDef="openingStock">
                    <th mat-header-cell *matHeaderCellDef> Opening Stock </th>
                    <td mat-cell *matCellDef="let product">
                      <input
                        type="number"
                        [(ngModel)]="product.openingStock"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Enter stock"
                        min="1"
                        step="1"
                        style="width: 60px;"
                        (keypress)="allowOnlyNumbers($event)"
                      />
                    </td>
                  </ng-container>



                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let product; let i = index">
                      <button mat-icon-button color="warn" (click)="removeProduct(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <div class="row mt-2 ">
                  <div class="col-12 d-flex justify-content-center">
                    <button class="btn-space"  [disabled]="!isSubmitEnabled()"  mat-raised-button
                            color="primary">
                      {{ isEditMode ? 'Update' : 'Submit' }}
                    </button>
                  </div>
                </div>

              </div>


            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
