
<div class="login-wrapper">
  <img src="assets/myimages/banner1.jpeg" alt="background" class="login-bg" />

  <div class="login-box">
    <div class="text-center">
      <div class="mt-1">
        <a routerLink="" class="logo-full">
          <img src="assets/myimages/dubaiautogalleryllc_logo.jpg" alt="logo-full" height="40%" width="40%" id="dattiimg" />
        </a>
      </div>

      <h4 class="font-18 mt-4">Forgot Password</h4>
      <p style="color: #ffff00;">Enter your email to reset your password.</p>
    </div>


    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter your registered email"
          [class.is-invalid]="
        loginForm.get('email')?.invalid &&
        (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
      "
        />
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
             class="text-danger mt-1 small">
          <div *ngIf="loginForm.get('email')?.errors?.['required']">

            <span class="mx-2">Email is required.</span>
          </div>
          <div *ngIf="loginForm.get('email')?.errors?.['email']">
            <span class="mx-2"> Please enter a valid email address.</span>

          </div>
        </div>
      </div>

      <button
        mat-flat-button
        type="submit"
        class="login-btn w-75"
        [disabled]="loginForm.invalid || isLoading"
      >
        <span *ngIf="!isLoading">Reset My Password</span>
<!--        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>-->
        <span *ngIf="isLoading" >Sending..</span>

      </button>
      <div *ngIf="errorMessage" class="text-danger mt-2 text-center small">
        {{ errorMessage }}
      </div>

      <div class="text-center mt-3 small text-light">
                <a routerLink="/authentication/signin" class="text-white fw-bold">Back to Login</a>
              </div>
    </form>

  </div>
</div>
