<section class="content d-flex justify-content-center align-items-center">
  <div class="content-block w-100" style="max-width: 800px;">
    <!-- 🔙 Back Button (outside the card, top-left) -->
<!--    <div class="mb-3">-->
<!--      <button mat-stroked-button color="primary">-->
<!--        <mat-icon>arrow_back</mat-icon> Back-->
<!--      </button>-->
<!--    </div>-->
    <div class="row clearfix justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add GRN</h2>
          </div>
          <div class="body">
            <form class="register-form m-4" [formGroup]="grnForm!" (ngSubmit)="onRegister()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="location" required>
                      <mat-option [value]="'Mumbai Central'">
                        Mumbai Central
                      </mat-option>
                      <mat-option [value]="'Pune East'">
                        Pune East
                      </mat-option>
                      <mat-option [value]="'Nagpur Central'">
                        Nagpur Central
                      </mat-option>
                      <mat-option [value]="'Amravati Depot'">
                        Amravati Depot
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (grnForm?.get('location')?.hasError('required')) {
                      <mat-error>
                        Division is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Products</mat-label>
                    <mat-select formControlName="products" required>
                      <mat-option [value]="'Swift VXI'">
                        Swift VXI
                      </mat-option>
                      <mat-option [value]="'Honda City ZX'">
                        Honda City ZX
                      </mat-option>
                      <mat-option [value]="'Hyundai Creta'">
                        Hyundai Creta
                      </mat-option>
                      <mat-option [value]="'Royal Enfield Classic 350'">
                        Royal Enfield Classic 350
                      </mat-option>
                      <mat-option [value]="'KTM Duke 200'">
                        KTM Duke 200
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (grnForm?.get('products')?.hasError('required')) {
                      <mat-error>
                        Products is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Opening Stock</mat-label>
                    <input matInput formControlName="openingStock" required>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>-->
                    @if (grnForm?.get('openingStock')?.hasError('required')) {
                      <mat-error>
                        Opening Stock is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>GRN Quantity</mat-label>
                    <input matInput formControlName="grnQuantity">
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>-->
                    @if (grnForm?.get('grnQuantity')?.hasError('required')) {
                      <mat-error>
                        GRN Quantity is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Type Of GRN</mat-label>
                    <mat-select formControlName="typeOfGrn" required>
                      <mat-option [value]="'Purchase Order'">
                        Purchase Order
                      </mat-option>
                      <mat-option [value]="'Non-PO Receipts'">
                        Non-PO Receipts
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (grnForm?.get('typeOfGrn')?.hasError('required')) {
                      <mat-error>
                        Type Of Grn is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <button class="btn-space" [disabled]="!grnForm?.valid" mat-raised-button
                          color="primary">Submit</button>
                  <button type="button" mat-raised-button color="warn" (click)="goBack()">Back</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
