.card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.btn-warning {
  font-weight: 500;
}
.table thead th {
  background-color: #f8f9fa;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* fade effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.modal-box {
  background: #fff;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  animation: fadeInScale 0.3s ease;
}

/* Smooth open animation */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Reduce top space */
.container {
  padding-top: 10px !important;
}

/* Add button aligned properly */
.btn-add {
  margin: 0;
  margin-right: 0.2rem;
}

/* Scrollable table */
.table-scroll {
  max-height: 250px; /* adjust as per need */
  overflow-y: auto;
}

/* Keep table header fixed when scrolling */
.table-scroll thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
}
.form-select{

}


