.form-header {
  background-color: #cedcf1; /* Same as the table header */
  color: white;
  padding: 10px 15px;
  border-radius: 4px 4px 0 0;
  font-size: 18px;
  font-weight: bold;
}
.textcol{
  color: #0d8df3;
}
