<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">

          <!-- Header -->
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2 class="fs-4">Summarized Sales Record</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input">
                    <i class="material-icons search-icon">search</i>
                  </label>
                  <input
                    id="search-input"
                    placeholder="Search"
                    type="text"
                    (keyup)="applyFilter($event)"
                    class="browser-default search-field"
                  />
                </li>
              </ul>
            </div>
            <div class="right">
              <div class="right-side-btn">
                <span [matTooltip]="!authService.hasPermission('Daily Sales','create') ? 'No permission' : 'Add Daily Sales'" matTooltipPosition="above">

                <button mat-icon-button  class="tbl-header-btn col-green"  (click)="navigateToAddDailySales()" [disabled]="!authService.hasPermission('Daily Sales','create')">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
                </span>
              </div>
            </div>
          </div>

          <!-- Body -->
          <div class="body overflow-auto" >
            <div class="responsive_table">
              <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">

                <!-- ID -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr. No.</th>
                  <td mat-cell *matCellDef="let row; let i = index">
                    {{ i + 1 + (paginator.pageIndex * paginator.pageSize) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                  <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                </ng-container>

                <ng-container matColumnDef="sku">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Sku</th>
                  <td mat-cell *matCellDef="let row">{{ row.sku }}</td>
                </ng-container>

                <ng-container matColumnDef="variant">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Variant</th>
                  <td mat-cell *matCellDef="let row">{{ row.variant }}</td>
                </ng-container>

                <!-- Email -->
                <ng-container matColumnDef="dealerOutlet">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Dealer/Outlet</th>
                  <td mat-cell *matCellDef="let row">{{ row.dealerOutlet }}</td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                  <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
                </ng-container>

                <ng-container matColumnDef="salesDate">
                  <th mat-header-cell *matHeaderCellDef>Sales Date/Time</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.salesDate | date:'dd/MM/yyyy hh:mm a' }}
                  </td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                  <td mat-cell *matCellDef="let row">
<!--                    <button mat-icon-button color="primary" matTooltip="Edit">-->
<!--                      <mat-icon>edit</mat-icon>-->
<!--                    </button>-->
<!--                    <button mat-icon-button color="warn" matTooltip="Delete">-->
<!--                      <mat-icon>delete</mat-icon>-->
<!--                    </button>-->

<!--                    <button mat-icon-button color="accent" (click)="goToEdit(row)" [disabled]="!authService.hasPermission('Daily Sales','edit')">-->
<!--                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>-->
<!--                    </button>-->
<!--                    </span>-->
                    <span [matTooltip]="!authService.hasPermission('Daily Sales','list') ? 'No permission' : 'view'" matTooltipPosition="above">

                    <button mat-icon-button color="primary" (click)="viewStock(row)" [disabled]="!authService.hasPermission('Daily Sales','list')">
                      <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-view'"></app-feather-icons>
                    </button>
                    </span>
                    <span [matTooltip]="!authService.hasPermission('Daily Sales','delete') ? 'No permission' : 'Delete Sales Record'" matTooltipPosition="above">

                    <button mat-icon-button color="accent" (click)="deleteDailySales(row)" [disabled]="!authService.hasPermission('Daily Sales','delete')">
                      <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                    </button>
                    </span>
                  </td>
                </ng-container>

                <!-- Table Rows -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>


            </div>

            <!-- No results -->
            <div class="no-results" *ngIf="dataSource.data.length === 0">
              No results
            </div>

            <!-- Pagination -->
            <mat-paginator
              #paginator
              [length]="dataSource.filteredData.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

