table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  margin-bottom: 5px;
}
