.content {
  margin-top: 45px !important; /* reduce space from top */
}

.card .header {
  padding: 16px 16px !important; /* shrink header height */
}

.card .header h2 {
  margin: 0 !important; /* remove extra space under title */
}
