
<section class="content d-flex justify-content-center align-items-center">
  <div class="content-block w-100" style="max-width: 800px;">
    <!-- 🔙 Back Button (outside the card, top-left) -->
    <!--    <div class="mb-3">-->
    <!--      <button mat-stroked-button color="primary" (click)="goBack()">-->
    <!--        <mat-icon>arrow_back</mat-icon> Back-->
    <!--      </button>-->
    <!--    </div>-->
    <div class="row clearfix justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card shadow">
          <div class="header">
            <h2>Add Outlet / Dealer</h2>
          </div>
          <div class="body">
            <form class="register-form m-4" [formGroup]="dealerForm!" (ngSubmit)="submitForm()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>-->
                    @if (dealerForm?.get('name')?.hasError('required')) {
                      <mat-error>
                        Name is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Outlet Type</mat-label>
                    <mat-select formControlName="outletType" required>
                      <mat-option value="COCO">COCO</mat-option>
                      <mat-option value="CODO">CODO</mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (dealerForm?.get('outletType')?.hasError('required')) {
                      <mat-error>
                        Outlet Type is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>

              </div>
              <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Division</mat-label>
                    <mat-select formControlName="division" required>
                      <mat-option value="us-central">us-central</mat-option>
                      <mat-option value="us-east">us-east</mat-option>
                      <mat-option value="us-west">us-west</mat-option>
                      <mat-option value="asia-east">asia-east</mat-option>
                      <mat-option value="asia-south">asia-south</mat-option>
                      <mat-option value="asia-southeast">asia-southeast</mat-option>
                      <mat-option value="asia-northeast">asia-northeast</mat-option>
                      <mat-option value="europe-west">europe-west</mat-option>
                      <mat-option value="south-africa">south-africa</mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (dealerForm?.get('division')?.hasError('required')) {
                      <mat-error>
                        Division is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country" required>
                      <mat-option value="USA">USA</mat-option>
                      <mat-option value="India">India</mat-option>
                      <mat-option value="UAE">UAE</mat-option>
                      <mat-option value="Saudi Arabia">Saudi Arabia</mat-option>
                      <mat-option value="Sri Lanka">Sri Lanka</mat-option>
                      <mat-option value="Japan">Japan</mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (dealerForm?.get('country')?.hasError('required')) {
                      <mat-error>
                        Model Type is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>

              </div>
              <div class="row">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Town</mat-label>
                    <mat-select formControlName="town" required>
                      <mat-option value="Hingna">Hingna</mat-option>
                      <mat-option value="Thane">Thane</mat-option>
                      <mat-option value="Kharadi">Kharadi</mat-option>
                      <mat-option value="Khamla">Khamla</mat-option>
                      <mat-option value="Pimpri">Pimpri</mat-option>
                      <mat-option value="Dadar">Dadar</mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (dealerForm?.get('town')?.hasError('required')) {
                      <mat-error>
                        Town is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" required>
                      <mat-option value="DEALER">DEALER</mat-option>
                      <mat-option value="OUTLET">OUTLET</mat-option>
                      <mat-option value="SHOWROOM">SHOWROOM</mat-option>
                      <mat-option value="CUSTOMER">CUSTOMER</mat-option>
                    </mat-select>
<!--                    <input matInput formControlName="address" required>-->
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>-->
                    @if (dealerForm?.get('category')?.hasError('required')) {
                      <mat-error>
                        Category is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="location" required>
                      <mat-option value="Dadar, Mumbai, India">Dadar, Mumbai, India</mat-option>
                      <mat-option value="Thane, Mumbai, India">Thane, Mumbai, India</mat-option>
                      <mat-option value="Kharadi, Pune, India">Kharadi, Pune, India</mat-option>
                      <mat-option value="Khamla, Nagpur, India">Khamla, Nagpur, India</mat-option>
                      <mat-option value="Pimpri, Pune, India">Pimpri, Pune, India</mat-option>
                    </mat-select>
<!--                    <input matInput formControlName="locationHead" required>-->
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>-->
                    @if (dealerForm?.get('location')?.hasError('required')) {
                      <mat-error>
                        Location  is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <button class="btn-space" [disabled]="!dealerForm?.valid" mat-raised-button
                          color="primary">
                    {{ isEditMode ? 'Update' : 'Submit' }}
                  </button>
                  <button type="button" mat-raised-button color="warn" (click)="goBack()">Back</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section class="content d-flex justify-content-center align-items-center">-->
<!--  <div class="content-block w-100" style="max-width: 800px;">-->
<!--    <div class="row clearfix justify-content-center">-->
<!--      <div class="col-12">-->
<!--        <div class="card shadow">-->
<!--          <div class="header">-->
<!--            <h2>Add Outlet / Dealer</h2>-->
<!--          </div>-->
<!--          <div class="body">-->
<!--            <form class="register-form m-4" [formGroup]="dealerForm" (ngSubmit)="submitForm()">-->

<!--              &lt;!&ndash; NAME &ndash;&gt;-->
<!--              <mat-form-field class="example-full-width w-100" appearance="outline">-->
<!--                <mat-label>Name</mat-label>-->
<!--                <input matInput formControlName="name" required>-->
<!--                <mat-error *ngIf="dealerForm.get('name')?.hasError('required')">-->
<!--                  Name is required-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->

<!--              &lt;!&ndash; OUTLET TYPE &ndash;&gt;-->
<!--              <mat-form-field class="example-full-width w-100" appearance="outline">-->
<!--                <mat-label>Outlet Type</mat-label>-->
<!--                <mat-select formControlName="outletType" required>-->
<!--                  <mat-option value="COCO">COCO</mat-option>-->
<!--                  <mat-option value="CODO">CODO</mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error *ngIf="dealerForm.get('outletType')?.hasError('required')">-->
<!--                  Outlet Type is required-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->

<!--              &lt;!&ndash; DIVISION &ndash;&gt;-->
<!--              <mat-form-field class="example-full-width w-100" appearance="outline">-->
<!--                <mat-label>Division</mat-label>-->
<!--                <mat-select formControlName="division" required>-->
<!--                  <mat-option value="us-central">us-central</mat-option>-->
<!--                  <mat-option value="us-east">us-east</mat-option>-->
<!--                  <mat-option value="us-west">us-west</mat-option>-->
<!--                  <mat-option value="asia-east">asia-east</mat-option>-->
<!--                  <mat-option value="asia-south">asia-south</mat-option>-->
<!--                  <mat-option value="asia-southeast">asia-southeast</mat-option>-->
<!--                  <mat-option value="asia-northeast">asia-northeast</mat-option>-->
<!--                  <mat-option value="europe-west">europe-west</mat-option>-->
<!--                  <mat-option value="south-africa">south-africa</mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error *ngIf="dealerForm.get('division')?.hasError('required')">-->
<!--                  Division is required-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->

<!--              &lt;!&ndash; COUNTRY &ndash;&gt;-->
<!--              <mat-form-field class="example-full-width w-100" appearance="outline">-->
<!--                <mat-label>Country</mat-label>-->
<!--                <mat-select formControlName="country" required>-->
<!--                  <mat-option value="USA">USA</mat-option>-->
<!--                  <mat-option value="India">India</mat-option>-->
<!--                  <mat-option value="UAE">UAE</mat-option>-->
<!--                  <mat-option value="Saudi Arabia">Saudi Arabia</mat-option>-->
<!--                  <mat-option value="Sri Lanka">Sri Lanka</mat-option>-->
<!--                  <mat-option value="Japan">Japan</mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error *ngIf="dealerForm.get('country')?.hasError('required')">-->
<!--                  Country is required-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->

<!--              &lt;!&ndash; TOWN &ndash;&gt;-->
<!--              <mat-form-field class="example-full-width w-100" appearance="outline">-->
<!--                <mat-label>Town</mat-label>-->
<!--                <mat-select formControlName="town" required>-->
<!--                  <mat-option value="Hingna">Hingna</mat-option>-->
<!--                  <mat-option value="Thane">Thane</mat-option>-->
<!--                  <mat-option value="Kharadi">Kharadi</mat-option>-->
<!--                  <mat-option value="Khamla">Khamla</mat-option>-->
<!--                  <mat-option value="Pimpri">Pimpri</mat-option>-->
<!--                  <mat-option value="Dadar">Dadar</mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error *ngIf="dealerForm.get('town')?.hasError('required')">-->
<!--                  Town is required-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->

<!--              &lt;!&ndash; CATEGORY &ndash;&gt;-->
<!--              <mat-form-field class="example-full-width w-100" appearance="outline">-->
<!--                <mat-label>Category</mat-label>-->
<!--                <mat-select formControlName="category" required>-->
<!--                  <mat-option value="DEALER">DEALER</mat-option>-->
<!--                  <mat-option value="OUTLET">OUTLET</mat-option>-->
<!--                  <mat-option value="SHOWROOM">SHOWROOM</mat-option>-->
<!--                  <mat-option value="CUSTOMER">CUSTOMER</mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error *ngIf="dealerForm.get('category')?.hasError('required')">-->
<!--                  Category is required-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->

<!--              &lt;!&ndash; LOCATION &ndash;&gt;-->
<!--              <mat-form-field class="example-full-width w-100" appearance="outline">-->
<!--                <mat-label>Location</mat-label>-->
<!--                <mat-select formControlName="location" required>-->
<!--                  <mat-option value="Dadar, Mumbai, India">Dadar, Mumbai, India</mat-option>-->
<!--                  <mat-option value="Thane, Mumbai, India">Thane, Mumbai, India</mat-option>-->
<!--                  <mat-option value="Kharadi, Pune, India">Kharadi, Pune, India</mat-option>-->
<!--                  <mat-option value="Khamla, Nagpur, India">Khamla, Nagpur, India</mat-option>-->
<!--                  <mat-option value="Pimpri, Pune, India">Pimpri, Pune, India</mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error *ngIf="dealerForm.get('location')?.hasError('required')">-->
<!--                  Location is required-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->

<!--              &lt;!&ndash; BUTTONS &ndash;&gt;-->
<!--              <div class="text-center mt-3">-->
<!--                <button mat-raised-button color="primary" [disabled]="!dealerForm.valid">Submit</button>-->
<!--                <button type="button" mat-raised-button color="warn" (click)="goBack()">Back</button>-->
<!--              </div>-->

<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
