<section class="content d-flex justify-content-center align-items-center">
  <div class="content-block w-100" style="max-width: 800px;">
    <!-- 🔙 Back Button (outside the card, top-left) -->
<!--    <div class="mb-3">-->
<!--      <button mat-stroked-button color="primary" (click)="goBack()">-->
<!--        <mat-icon>arrow_back</mat-icon> Back-->
<!--      </button>-->
<!--    </div>-->
    <div class="row clearfix justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Outlet / Dealer</h2>
          </div>
          <div class="body">
            <form class="register-form m-4" [formGroup]="dealerForm!" (ngSubmit)="onRegister()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
<!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>-->
                    @if (dealerForm?.get('name')?.hasError('required')) {
                      <mat-error>
                        Name is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Model Type</mat-label>
                    <mat-select formControlName="modelType" required>
                      <mat-option [value]="'Hatchbacks'">
                        Hatchbacks
                      </mat-option>
                      <mat-option [value]="'Sedans'">
                        Sedans
                      </mat-option>
                      <mat-option [value]="'SUVs'">
                        SUVs
                      </mat-option>
                    </mat-select>
<!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (dealerForm?.get('modelType')?.hasError('required')) {
                      <mat-error>
                        Model Type is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Division</mat-label>
                    <mat-select formControlName="division" required>
                      <mat-option [value]="'Mumbai'">
                        Mumbai
                      </mat-option>
                      <mat-option [value]="'Pune'">
                        Pune
                      </mat-option>
                      <mat-option [value]="'Nagpur'">
                        Nagpur
                      </mat-option>
                      <mat-option [value]="'Amravati'">
                        Amravati
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (dealerForm?.get('division')?.hasError('required')) {
                      <mat-error>
                        Division is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Town</mat-label>
                    <mat-select formControlName="town" required>
                      <mat-option [value]="'Hingna'">
                        Hingna
                      </mat-option>
                      <mat-option [value]="'Thane'">
                        Thane
                      </mat-option>
                      <mat-option [value]="'Kharadi'">
                        Kharadi
                      </mat-option>
                      <mat-option [value]="'Khamla'">
                        Khamla
                      </mat-option>
                      <mat-option [value]="'Pimpri'">
                        Pimpri
                      </mat-option>
                      <mat-option [value]="'Dadar'">
                        Dadar
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (dealerForm?.get('town')?.hasError('required')) {
                      <mat-error>
                        Town is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" required>
                      <mat-option [value]="'COCO'">
                        COCO
                      </mat-option>
                      <mat-option [value]="'DOCO'">
                        DOCO
                      </mat-option>
                      <mat-option [value]="'DEALER'">
                        DEALER
                      </mat-option>
                      <mat-option [value]="'OUTLET'">
                        OUTLET
                      </mat-option>
                      <mat-option [value]="'SHOWROOM'">
                        SHOWROOM
                      </mat-option>
                      <mat-option [value]="'CUSTOMER'">
                        CUSTOMER
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (dealerForm?.get('category')?.hasError('required')) {
                      <mat-error>
                        Category is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="location" required>
                      <mat-option [value]="'Dadar, Mumbai, India'">
                        Dadar, Mumbai, India
                      </mat-option>
                      <mat-option [value]="'Thane, Mumbai, India'">
                        Thane, Mumbai, India
                      </mat-option>
                      <mat-option [value]="'Kharadi, Pune, India'">
                        Kharadi, Pune, India
                      </mat-option>
                      <mat-option [value]="'Khamla , Nagpur, India'">
                        Khamla , Nagpur, India
                      </mat-option>
                      <mat-option [value]="'Pimpri, Pune, India'">
                        Pimpri, Pune, India
                      </mat-option>
                      <mat-option [value]="'Dadar, Mumbai, India'">
                        Dadar, Mumbai, India
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (dealerForm?.get('location')?.hasError('required')) {
                      <mat-error>
                        Location is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <button class="btn-space" [disabled]="!dealerForm?.valid"
                          mat-raised-button color="primary" (click)="submitForm()">Submit</button>
                  <button type="button" mat-raised-button color="warn" (click)="goBack()">Back</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
