<section class="content d-flex justify-content-center align-items-center">
  <div class="content-block w-100" style="max-width: 1000px;">
    <div class="row clearfix justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card shadow ">
          <div class="header form-header">
            <h2 style="font-size: 23px">{{ isEditMode ? 'Edit Daily Sales' : 'Add Daily Sales' }}</h2>
          </div>
          <div class="body">

            <form class="register-form m-4" [formGroup]="dailySalesForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Dealer/Outlet</mat-label>
                    <mat-select formControlName="dealerOutlet"  (openedChange)="selectionOpen($event,'dealer')" (selectionChange)="onDealerChange($event)" panelClass="custom-select-panel" required>
                      <div class="mat-select-search" (click)="$event.stopPropagation()">
                        <input matInput
                               [value]="dealerSearchText"
                               (input)="onDealerSearchChange($event)"
                               (click)="$event.stopPropagation()"
                               (keydown)="$event.stopPropagation()"
                               placeholder="Search Dealer"
                               class="search-input" />
                      </div>

                      <!-- Dealer list -->
                      <mat-option *ngFor="let dealer of (filteredDealers$ | async)" [value]="dealer.name">
                        {{ dealer.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="dailySalesForm.get('dealerOutlet')?.hasError('required')">
                      Dealer/Outlet is required
                    </mat-error>
                  </mat-form-field>

                </div>

                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Vehicle</mat-label>
                    <mat-select formControlName="vehicle" panelClass="custom-select-panel" multiple
                                #outletSelect="matSelect"
                                (openedChange)="selectionOpen($event, 'vehicle')">
                      <div class="mat-select-search" (click)="$event.stopPropagation()">
                        <input matInput
                               [value]="vehicleSearchText"
                               (input)="onVehicleSearchChange($event)"
                               (click)="$event.stopPropagation()"
                               (keydown)="$event.stopPropagation()"
                               placeholder="Search Vehicle"
                               class="search-input" />
                      </div>

                      <mat-select-trigger>
        <span *ngIf="outletSelect.value?.length; else noSelection">
          {{ outletSelect.value[0] | slice:0:16 }}{{ outletSelect.value[0].length > 16 ? '...' : '' }}
          <span *ngIf="outletSelect.value.length > 1" class="textcol">
            (+{{ outletSelect.value.length - 1 }} more)
          </span>
        </span>
                        <ng-template #noSelection>
                          Select...
                        </ng-template>
                      </mat-select-trigger>

                      <!-- 🔹 Select All Option with Checkbox -->
<!--                      <mat-option>-->
                        <mat-checkbox class="mx-2"
                          [checked]="isAllVehiclesSelected()"
                          (click)="$event.stopPropagation()"
                          (change)="toggleSelectAllVehicles()">
                          Select All
                        </mat-checkbox>
<!--                      </mat-option>-->

                      <!-- Vehicle list -->
                      <mat-option *ngFor="let product of filteredVehicles" [value]="product.name">
                        {{ product.name }}
                      </mat-option>
                    </mat-select>

                    <mat-error *ngIf="dailySalesForm.get('vehicle')?.hasError('required')">
                      Product is required
                    </mat-error>
                  </mat-form-field>
                </div>


              </div>
              <!-- Auto-populated -->
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="country" readonly />
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Division</mat-label>
                    <input matInput formControlName="division" readonly />
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Town</mat-label>
                    <input matInput formControlName="town" readonly />
                  </mat-form-field>
                </div>
              </div>
              <!-- Dealer & Vehicle -->

<!--              <div class="row">-->
<!--                <mat-form-field appearance="outline" class="col-md-6">-->
<!--                  <mat-label>Select Date</mat-label>-->
<!--                  <input #dateNameInput formControlName="salesDate" matInput [matDatepicker]="picker">-->
<!--                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--                  <mat-datepicker #picker></mat-datepicker>-->
<!--                </mat-form-field>-->
<!--              </div>-->

              <div class="row">
                <mat-form-field appearance="outline" class="col-md-6">
<!--                  <mat-label>Select Date</mat-label>-->
<!--                  <input #dateNameInput-->
<!--                         formControlName="salesDate"-->
<!--                         matInput-->
<!--                         [matDatepicker]="picker"-->
<!--                         readonly-->
<!--                         placeholder="Select a date">-->
<!--                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--                  <mat-datepicker #picker></mat-datepicker>-->
<!--                  <mat-error *ngIf="dailySalesForm.get('salesDate')?.hasError('required')">-->
<!--                    Date is required-->
<!--                  </mat-error>-->
<!--                  <mat-form-field appearance="fill">-->
                  <mat-label>Sales Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="salesDate" [min]="minDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
<!--                  </mat-form-field>-->
                </mat-form-field>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Select Sales Type</mat-label>
                    <mat-select formControlName="salesType" required #townSelect panelClass="custom-select-panel" (openedChange)="onSalesSelectOpened($event)">
                      <div class="mat-select-search">
                        <input matInput (input)="onSalesSearchChange($event)" #townSearchInput placeholder="Search Town" />
                      </div>
                      <mat-option *ngFor="let sale of filteredSalesTypes" [value]="sale">
                        {{ sale }}
                      </mat-option>
                    </mat-select>
                    @if (dailySalesForm?.get('town')?.hasError('required')) {
                      <mat-error>Town is required</mat-error>
                    }
                  </mat-form-field>
                </div>

<!--                <mat-form-field appearance="fill">-->
<!--                  <mat-label>Pick a date</mat-label>-->
<!--                  <input matInput [matDatepicker]="picker" [min]="minDate">-->
<!--                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--                  <mat-datepicker #picker></mat-datepicker>-->
<!--                </mat-form-field>-->

              </div>


              <!-- Buttons -->
              <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center gap-3">
                  <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="addProduct()"
                    [disabled]="!dailySalesForm.get('vehicle')?.value">
                    Add Product
                  </button>
                  <button
                    type="button"
                    mat-raised-button
                    color="warn"
                    (click)="goBack()">
                    Back
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>

        <!-- ✅ Products Table -->
        <div *ngIf="addedProducts.length > 0" class="card mt-3">
          <div class="header">
            <h2>Added Products</h2>
          </div>
          <div class="body">
            <table mat-table [dataSource]="addedProducts" class="mat-elevation-z8 w-100">

              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef> SKU </th>
                <td mat-cell *matCellDef="let p">{{ p.sku }}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let p">{{ p.name }}</td>
              </ng-container>

              <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef> Brand </th>
                <td mat-cell *matCellDef="let p">{{ p.brand }}</td>
              </ng-container>

              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef> Model </th>
                <td mat-cell *matCellDef="let p">{{ p.model }}</td>
              </ng-container>

              <ng-container matColumnDef="variant">
                <th mat-header-cell *matHeaderCellDef> Variant </th>
                <td mat-cell *matCellDef="let p">{{ p.variant }}</td>
              </ng-container>

              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef> Unit </th>
                <td mat-cell *matCellDef="let p">{{ p.unit }}</td>
              </ng-container>


                            <ng-container matColumnDef="quantity">
                              <th mat-header-cell *matHeaderCellDef> Quantity </th>
                              <td mat-cell *matCellDef="let p">
                                <input type="number"
                                       [(ngModel)]="p.quantity"
                                       [ngModelOptions]="{standalone: true}"
                                       min="1"
                                       step="1"
                                       oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                       style="width: 70px;" />
                              </td>
                            </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let p; let i = index">
                  <button mat-icon-button color="warn" (click)="removeProduct(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


            <div class="mt-3 d-flex justify-content-center">
              <button
                mat-raised-button
                color="primary"
                (click)="submitForm()"
                [disabled]="!isSubmitEnabled()">

                <!-- Show loader when submitting -->
                <mat-spinner
                  *ngIf="isSubmitting"
                  diameter="20"
                  style="display: inline-block; margin-right: 8px;">
                </mat-spinner>

                <span>{{ isSubmitting ? 'Submitting...' : (isEditMode ? 'Update' : 'Submit') }}</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
