.form-header {
  background-color: #cedcf1; /* Same as the table header */
  color: white;
  padding: 10px 15px;
  border-radius: 4px 4px 0 0;
  font-size: 18px;
  font-weight: bold;
}

.btn-space{
  background-color: #cedcf1;
}
.mat-checkbox{
  margin-left: 2rem;
}

.btn-back{
  background-color: #e4e492;
}
.mat-select-search {
  padding: 8px;
}

.mat-select-search input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

