<section class="content d-flex justify-content-center align-items-center">
  <div class="content-block w-100" style="max-width: 800px;">
    <!-- 🔙 Back Button (outside the card, top-left) -->
<!--    <div class="mb-3">-->
<!--      <button mat-stroked-button color="primary" (click)="goBack()">-->
<!--        <mat-icon>arrow_back</mat-icon> Back-->
<!--      </button>-->
<!--    </div>-->
    <div class="row clearfix justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card shadow">
          <div class="header form-header">
            <h2 style="font-size: 23px">Add Product Master</h2>
          </div>
          <div class="body">
            <form class="register-form m-4" [formGroup]="productForm!" (ngSubmit)="onRegister()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
<!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>-->
                    @if (productForm?.get('name')?.hasError('required')) {
                      <mat-error>
                        Name is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Sku</mat-label>
                    <input matInput formControlName="sku">
<!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>-->
                    @if (productForm?.get('sku')?.hasError('required')) {
                      <mat-error>
                        Sku is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Brand Name</mat-label>
                    <input matInput formControlName="brand" required>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>-->
                    @if (productForm?.get('brand')?.hasError('required')) {
                      <mat-error>
                       Brand Name is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Model</mat-label>
                    <mat-select formControlName="model" required>
                      <mat-option [value]="'Pulser'">
                        Pulser
                      </mat-option>
                      <mat-option [value]="'Boxer'">
                        Boxer
                      </mat-option>
                      <mat-option [value]="'Platina'">
                        Platina
                      </mat-option>
                      <mat-option [value]="'CT'">
                        CT
                      </mat-option>
                      <mat-option [value]="'RE'">
                        RE
                      </mat-option>
                      <mat-option [value]="'Qute'">
                        Maxima
                      </mat-option>
                      <mat-option [value]="'Maxima'">
                        Maxima
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (productForm?.get('model')?.hasError('required')) {
                      <mat-error>
                        Model is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" required>
                      <mat-option [value]="'Tyres'">
                        Tyres
                      </mat-option>
                      <mat-option [value]="'Lubricants'">
                        Lubricants
                      </mat-option>
                      <mat-option [value]="'Spare Parts'">
                        Spare Parts
                      </mat-option>
                      <mat-option [value]="'Vehicles'">
                        Vehicles
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (productForm?.get('category')?.hasError('required')) {
                      <mat-error>
                        Category is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Sub Category</mat-label>
                    <mat-select formControlName="subCategory" required>
                      <mat-option [value]="'2W'">
                        2W
                      </mat-option>
                      <mat-option [value]="'3W'">
                        3W
                      </mat-option>
                      <mat-option [value]="'4W'">
                        4W
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (productForm?.get('subCategory')?.hasError('required')) {
                      <mat-error>
                        Sub Category is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Varient</mat-label>
                    <mat-select formControlName="varient" required>
                      <mat-option [value]="'NS160'">
                        NS160
                      </mat-option>
                      <mat-option [value]="'NS200'">
                        NS200
                      </mat-option>
                      <mat-option [value]="'BM150'">
                        BM150
                      </mat-option>
                      <mat-option [value]="'Platina 100'">
                        Platina 100
                      </mat-option>
                      <mat-option [value]="'CT125X'">
                        CT125X
                      </mat-option>
                      <mat-option [value]="'RE Compact'">
                        RE Compact
                      </mat-option>
                      <mat-option [value]="'Maxima Cargo'">
                        Maxima Cargo
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (productForm?.get('varient')?.hasError('required')) {
                      <mat-error>
                        Varient is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Engine CC</mat-label>
                    <mat-select formControlName="engineCc" required>
                      <mat-option [value]="'160cc'">
                        160cc
                      </mat-option>
                      <mat-option [value]="'200cc'">
                        200cc
                      </mat-option>
                      <mat-option [value]="'150cc'">
                        150cc
                      </mat-option>
                      <mat-option [value]="'100cc'">
                        100cc
                      </mat-option>
                      <mat-option [value]="'125cc'">
                        125cc
                      </mat-option>
                      <mat-option [value]="'198cc'">
                        198cc
                      </mat-option>
                      <mat-option [value]="'236cc'">
                        236cc
                      </mat-option>
                      <mat-option [value]="'470cc'">
                        470cc
                      </mat-option>
                      <mat-option [value]="'216cc'">
                        216cc
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (productForm?.get('engineCc')?.hasError('required')) {
                      <mat-error>
                        Engine CC is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Unit Of Measurement</mat-label>
                    <mat-select formControlName="unit" required>
                      <mat-option [value]="'Nos'">
                        Nos
                      </mat-option>
                      <mat-option [value]="'Litre'">
                        Litre
                      </mat-option>
                      <mat-option [value]="'Pieces'">
                        Pieces
                      </mat-option>
                    </mat-select>
                    <!--                    <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>-->
                    @if (productForm?.get('unit')?.hasError('required')) {
                      <mat-error>
                        Unit Of Measurement is required
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <button class="btn-space" [disabled]="!productForm?.valid" mat-raised-button
                          color="primary">{{ isEditMode ? 'Update' : 'Submit' }}</button>
                  <button class="btn-back" type="button" mat-raised-button color="warn" (click)="goBack()">Back</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
