  <div class="content-block w-100 p-4" >
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Showrooms</mat-label>
          <mat-select formControlName="location" multiple required>
            <mat-option value="Dadar, Mumbai, India">Dadar, Mumbai, India</mat-option>
            <mat-option value="Thane, Mumbai, India">Thane, Mumbai, India</mat-option>
            <mat-option value="Kharadi, Pune, India">Kharadi, Pune, India</mat-option>
            <mat-option value="Khamla, Nagpur, India">Khamla, Nagpur, India</mat-option>
            <mat-option value="Pimpri, Pune, India">Pimpri, Pune, India</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <button type="button" mat-raised-button color="warn" >Assign</button>
      </div>
    </div>
  </div>
