
@use '@angular/material' as mat;

//  Core styles
@include mat.core();

$light-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500);
$light-accent: mat.m2-define-palette(mat.$m2-cyan-palette, A200, A100, A400);

// 3. Define the theme configuration
$theme-config: (
  color: (
    primary: $light-primary,
    accent: $light-accent,
  ),
  density: -5
);

// Create the theme
$theme: mat.m2-define-light-theme($theme-config);

//Apply the theme
@include mat.all-component-themes($theme);

//  Apply component-specific styles
.mat-mdc-table {
  @include mat.table-density(-2);
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button {
  @include mat.button-density(0);
}
