.table-wrapper {
  max-height: 400px; /* Height of the scrollable area */
  overflow: auto;
}

.table-scroll {
  display: block;
  width: 100%;
  overflow-x: auto; /* Horizontal scroll if table is wider */
}

table.mat-table {
  min-width: 600px; /* Ensure horizontal scrollbar appears for smaller screens */
}

.table-scroll {
  max-height: 500px;
  overflow-y: auto;   /* ✅ vertical scrollbar */
  overflow-x: hidden; /* keep horizontal clean */
}
.textcol{
  color: #0d8df3;
}



