<section class="content d-flex justify-content-center align-items-center min-vh-100">
  <div class="content-block w-100" style="max-width: 800px;">
    <div class="row clearfix justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card shadow">
          <div class="header text-center">
            <h4>{{ isEditMode ?'Edit User':'Add User' }}</h4>
          </div>
<!--          <pre>{{ register?.value | json }}</pre>-->
          <div class="body">
            <form class="register-form m-4" [formGroup]="register!" (ngSubmit)="onRegister()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input
                      matInput
                      formControlName="first"
                      required
                      (keypress)="allowOnlyAlphabets($event)"
                      placeholder="Enter first name"
                    />
                    <mat-icon class="material-icons-outlined color-icon" matSuffix>face</mat-icon>
                    <mat-error *ngIf="register?.get('first')?.hasError('required')">
                      First name is required
                    </mat-error>
                    <mat-error *ngIf="register?.get('first')?.hasError('pattern')">
                      Only alphabets are allowed
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="last" placeholder="Enter Last name">
                    <mat-icon class="material-icons-outlined color-icon" matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Mobile No.</mat-label>
                    <input matInput formControlName="mobile" required type="text" (keypress)="allowOnlyNumbers($event)" placeholder="Enter Mobile No.">
                    <mat-icon class="material-icons-outlined color-icon" matSuffix>phone</mat-icon>
                    @if (register?.get('mobile')?.hasError('required') || register?.get('mobile')?.touched) {
                      <mat-error>
                        Please enter a valid Mobile No.
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required placeholder="Enter Email">
                    <mat-icon class="material-icons-outlined color-icon" matSuffix>email</mat-icon>
                    @if (register?.get('email')?.hasError('required') || register?.get('email')?.touched) {
                      <mat-error>
                        Please enter a valid email address
                      </mat-error>
                    }
                  </mat-form-field>
                </div>

              <div class="col-xl-6 col-lg-6 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Select Role</mat-label>
                  <mat-select
                    formControlName="role"
                    required
                    #roleSelect
                    panelClass="custom-select-panel"
                    (openedChange)="onRoleSelectOpened($event)">

                    <!-- Search Box -->
                    <div class="mat-select-search" (click)="$event.stopPropagation()">
                      <input
                        matInput
                        #roleSearchInput
                        placeholder="Search Role"
                        (input)="onRoleSearchChange($event)">
                    </div>

                    <mat-option *ngFor="let role of filteredRoles" [value]="role">
                      {{ role }}
                    </mat-option>
                  </mat-select>

                  <mat-error *ngIf="register?.get('role')?.hasError('required')">
                    Role is required
                  </mat-error>
                </mat-form-field>

              </div>

              <div class="col-xl-6 col-lg-6 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Select Department</mat-label>
                  <mat-select formControlName="department" required #deptSelect panelClass="custom-select-panel" (openedChange)="onDeptSelectOpened($event)">
                    <div class="mat-select-search">
                      <input matInput (input)="onDeptSearchChange($event)" #deptSearchInput placeholder="Search Department" />
                    </div>
                    <mat-option *ngFor="let dept of filteredDepartments" [value]="dept">
                      {{ dept }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="register?.get('department')?.hasError('required')">
                    Department is required
                  </mat-error>
                </mat-form-field>
              </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" required placeholder="Enter City name">
                    <mat-icon class="material-icons-outlined color-icon" matSuffix>location_city</mat-icon>
                    @if (register?.get('city')?.hasError('required')) {
                      <mat-error>City name is required</mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state" required placeholder="Enter State name">
                    <mat-icon class="material-icons-outlined color-icon" matSuffix>business</mat-icon>
                    @if (register?.get('state')?.hasError('required')) {
                      <mat-error>State name is required</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Select Country</mat-label>
                    <mat-select formControlName="country" required #countrySelect panelClass="custom-select-panel" (openedChange)="onCountrySelectOpened($event)">
                      <div class="mat-select-search">
                        <input matInput (input)="onCountrySearchChange($event)" #countrySearchInput placeholder="Search Country" />
                      </div>
                      <mat-option *ngFor="let country of filteredCountries" [value]="country">
                        {{ country }}
                      </mat-option>
                    </mat-select>
                    <mat-icon class="material-icons-outlined color-icon" matSuffix>flag</mat-icon>
                    <mat-error *ngIf="register?.get('country')?.hasError('required')">
                      Country is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>User Code</mat-label>
                    <input matInput type="text" formControlName="userCode" placeholder="Enter User Code"/>
                  </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-checkbox class="example-margin" formControlName="termcondition">I accept
                    terms
                    and conditions
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address" placeholder="Enter Address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="this.isEditMode">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <tr>
<!--                  <th>Change Password</th>-->
                  <td>
                    <div >
                      <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="text" [formControl]="passwordControl" placeholder="Enter Password"/>
                      </mat-form-field>
                      &nbsp; <button mat-raised-button (click)="changePassword()"
                                     style="background-color:#0056D2; color:#fff;">
                      Change Password
                    </button>
                    </div>
                  </td>
                </tr>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center gap-2">
                  <button class="btn-space" [disabled]="!register?.valid || loaderService.isLoading()"
                          mat-raised-button
                          color="primary"
                          (click)="onRegister()">
                    {{ isEditMode ? 'Update' : 'Submit' }}
                  </button>
                  <button type="button" mat-raised-button color="warn" (click)="goBack()">Cancel</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
